body{
    background-color: #3f51b5;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1{
    color: #fff;;
    font-size: 60px;
    

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}